@model AlertViewModel

@{
    string alertId = "alert-" + EcStringHelper.RandomString(12);
    string alertIcon;

    switch (Model.Color)
    {
        case Ecboard.Enum.Enum_Color.success:
            alertIcon = "check";
            break;

        case Ecboard.Enum.Enum_Color.warning:
            alertIcon = "triangle";
            break;

        case Ecboard.Enum.Enum_Color.info:
            alertIcon = "circle";
            break;

        case Ecboard.Enum.Enum_Color.primary:
            alertIcon = "assembly";
            break;

        case Ecboard.Enum.Enum_Color.danger:
            alertIcon = "exclamation-mark";
            break;

        case Ecboard.Enum.Enum_Color.secondary:
            alertIcon = "circle";
            break;

        default:
            alertIcon = "assembly";
            break;
    }
}


<style>
    /* Animasyon eklenmeden önce öğeler ekranın dışında başlayacak */
    .alert {
        transform: translateX(100%);
        opacity: 0;
        transition: transform 0.5s ease-out, opacity 0.2s ease-out;
    }

        /* Animasyon eklendiğinde öğeler içeri doğru kayacak */
    .alert.show {
        transform: translateX(0);
        opacity: 1;
    }


  .alert-bg{
        background: #eee;
    }
</style>


@switch (Model.AlertType)
{
    case Ecboard.Enum.Enum_AlertType.Default:
        <div class="alert alert-@(Model.Color.ToString()) alert-bg" id="@alertId" role="alert">
            @Model.Name
        </div>
        break;

    case Ecboard.Enum.Enum_AlertType.WithIcon:
        <div class="alert alert-@(Model.Color.ToString()) alert-bg" id="@alertId" role="alert">
            <div class="d-flex">
                <div>
                    <i class="ti ti-2x ti-@(alertIcon) icon alert-icon"></i>
                </div>
                <div>
                    @Model.Name
                </div>
            </div>
        </div>
        break;

    case Ecboard.Enum.Enum_AlertType.Advanced:
        <div class="alert alert-@(Model.Color.ToString()) bg-white alert-bg" id="@alertId" role="alert">
            <div class="d-flex">
                <div>
                    <i class="ti ti-2x ti-@(alertIcon) icon alert-icon"></i>
                </div>
                <div>
                    <h4 class="alert-title">
                        @Model.Name
                    </h4>
                    <div class="text-secondary">
                        @Model.Description
                    </div>
                </div>
            </div>
        </div>
        break;

    case Ecboard.Enum.Enum_AlertType.Important:
        <div class="alert alert-important alert-@(Model.Color.ToString()) alert-dismissible" id="@alertId" role="alert">
            <div class="d-flex">
                <div>
                    <i class="ti ti-2x ti-@(alertIcon) icon alert-icon"></i>
                </div>
                <div>
                    @Model.Name
                </div>
            </div>
            <a class="btn-close" data-bs-dismiss="alert" aria-label="close"></a>
        </div>
        break;

    default:
        break;
}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const alert = document.querySelector('#@alertId');
        setTimeout(() => {
            alert.classList.add('show');
        }, 100);
    });
</script>