@using Ecboard.ViewModels._PartialViews.Chart
@model BaseChartViewModel

<div class="chart-container">
    <div id="@Model.ChartId" style="min-height: 201.9px;"></div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            console.log(@Html.Raw(Json.Serialize(Model is PieChartViewModel _pieChart ? _pieChart.Series : (Model is DefaultChartViewModel _defaultChart ? _defaultChart.Series : null))));

            if (window.ApexCharts) {
                var options = {
                    chart: {
                        type: '@Model.ChartType',
                        height: 240
                    },
                    series: @Html.Raw(Json.Serialize(Model is PieChartViewModel pieChart ? pieChart.Series : (Model is DefaultChartViewModel defaultChart ? defaultChart.Series : null))),
                    labels: @Html.Raw(Json.Serialize(Model.Labels)),
                    xaxis: {
                        categories: @Html.Raw(Json.Serialize(Model.Labels))
                    },
                    colors: @Html.Raw(Json.Serialize(Model.Colors)),
                    tooltip: { theme: 'dark' }
                };

                console.log('Options:', options);  // Kontrol amaçlı

                new ApexCharts(document.getElementById('@Model.ChartId'), options).render();
            }
        });

    </script>
</div>