<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ecboard</title>

    <link href="~/template/dist/css/tabler.min.css?1692870487" rel="stylesheet"/>
    <link href="~/template/dist/css/tabler-flags.min.css?1692870487" rel="stylesheet" />
    <link href="~/template/dist/css/tabler-payments.min.css?1692870487" rel="stylesheet" />
    <link href="~/template/dist/css/tabler-vendors.min.css?1692870487" rel="stylesheet" />
    <link href="~/template/dist/css/demo.min.css?1692870487" rel="stylesheet" />

    <link href="~/css/site.css" rel="stylesheet" />

    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    @* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> *@
    @* <link rel="stylesheet" href="~/Ecboard.styles.css" asp-append-version="true" /> *@

    <style>
        import url('https://rsms.me/inter/inter.css');
        :root {
        --tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
        }
        body {
        font-feature-settings: "cv03", "cv04", "cv11";
        }
    </style>
</head>
<body data-bs-theme="dark">
    <script src="~/template/dist/js/demo-theme.min.js?1692870487"></script>

    <div class="page">
        @Html.Partial("~/Views/Shared/_PartialViews/Core/_pMainSidebar.cshtml")


        @Html.Partial("~/Views/Shared/_PartialViews/Core/_pMainHeader.cshtml")


        <div class="page-wrapper">
            <div class="page-body">
                <div class="container-xl">

                    <div class="row g-2 align-items-center mb-5">
                        <div class="col">
                            <!-- Page pre-title -->
                            <div class="page-pretitle">
                                Overview
                            </div>
                            <h2 class="page-title">
                                @ViewData["Title"]
                            </h2>
                        </div>
                    </div>

                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>
            </div>



            <footer class="footer footer-transparent d-print-none">
                <div class="container-xl">
                    <div class="row text-center align-items-center flex-row-reverse">
                        <div class="col-lg-auto ms-lg-auto">
                            <ul class="list-inline list-inline-dots mb-0">
                                <li class="list-inline-item"><a href="./license.html" class="link-secondary">License</a></li>
                            </ul>
                        </div>
                        <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                            <ul class="list-inline list-inline-dots mb-0">
                                <li class="list-inline-item">
                                    Copyright &copy; 2023
                                    <a href="." class="link-secondary">Tabler</a>,
                                    <a href="." class="link-secondary">Eclion Software</a>.
                                    All rights reserved.
                                </li>


                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@

    @Html.Partial("~/Views/Shared/_PartialViews/Core/_pMainScripts.cshtml")

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
